*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    color: $main-text-color;
    overflow-x: hidden;
}

img {
    -webkit-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
}

a:link,
a:visited {
    color: $main-text-color;
}

ul {
    list-style: none;
    padding: 0 0.5rem;
}

li {
    padding: 1.25rem 0;
}

footer {
    text-align: center;
    color: $main-text-color;
}