@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin logo-rotation-animation($time:16s) {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-duration: $time;
    animation-iteration-count: infinite;
}

@mixin row($cols:1) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: 20px;
}

@mixin media-md {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width:1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width:1300px) {
        @content;
    }
}