@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@400;700&display=swap');

$main-bg-color: #222123;
$main-text-color: #eee3de;
$pink-color: #f8c3fb;
$heading-font-family: 'Acme', sans-serif;
$main-font-family: 'Montserrat', sans-serif;

